
.cart-inventory-block {
    background-color: black;
    padding: 8px 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
    line-height: 1;
}